$pngIconMap: (
	w400px-h300px: (
		MapPin: (
			x: 0,
			y: 0
		),
		SpeechBubbles: (
			x: -400px,
			y: 0
		),
		xMapPin: (
			x: 0,
			y: -300px,
		),
		xSpeechBubbles: (
			x: -400px,
			y: -300px,
		)
	),
	w40px-h40px: (
		MapPin: (
			x: 0,
			y: 0
		),
		SpeechBubbles: (
			x: -40px,
			y: 0
		),
		xMapPin: (
			x: 0,
			y: -40px,
		),
		xSpeechBubbles: (
			x: -40px,
			y: -40px,
		)
	)
);

@mixin pngIcon($width, $height, $icon){
	$spriteName: w + $width + -h + $height;

	$spriteMap: map-get($pngIconMap, $spriteName);

	$iconPositionMap: map-get($spriteMap, $icon);

	background-image: url(#{$spriteName}.png);
	background-position: map-get($iconPositionMap, x) map-get($iconPositionMap, x);
	background-repeat: no-repeat;
}


.something {
	@include pngIcon(40,40,SpeechBubbles);
}
